[submodule "app/sites/github/app/GitHub-Dark"]
	path = app/sites/github/app/GitHub-Dark
	url = https://github.com/StylishThemes/GitHub-Dark.git
[submodule "app/sites/github/app/github-timeline"]
	path = app/sites/github/app/github-timeline
	url = https://github.com/romqin/github-timeline.git
[submodule "app/sites/youtube/app/Dark-youtube-plugin-chrome"]
	path = app/sites/youtube/app/Dark-youtube-plugin-chrome
	url = https://github.com/stormbreakerbg/Dark-youtube-plugin-chrome.git
