[submodule "app/sites/github/dist/github-timeline"]
	path = app/sites/github/dist/github-timeline
	url = git://github.com/MyKiwi/github-timeline.git
[submodule "app/sites/github/app/GitHub-Dark"]
	path = app/sites/github/app/GitHub-Dark
	url = https://github.com/StylishThemes/GitHub-Dark.git
[submodule "app/sites/youtube/app/YouTube-Dark"]
	path = app/sites/youtube/app/YouTube-Dark
	url = https://github.com/StylishThemes/YouTube-Dark.git
