/* Twitter */

.photo-atm-and-feed .profile-photo {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 15s linear infinite;
}
.photo-atm-and-feed .profile-photo-frame {
  border: none !important;
  background: transparent !important;
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(360deg); }
}

.user-menu-label {
  color: darkorange !important;
}

.details-pane-body {
  background: url(chrome-extension://__MSG_@@extension_id__/images/web@2x.png)
    101% -2px / 36.5px 40px no-repeat white !important;
}

#bottombar_wrapper,
#helpbar {
  display: none !important;
}


@media (max-width: 733px) {

  .task-row-overlay {
    opacity: 0.3;
  }
  .task-row-overlay:hover {
    opacity: 1.0;
  }

  .header-name {
    display: block !important;
    font-size: 20px !important;
    white-space: nowrap !important;
    background: transparent !important;
  }

  .asana-desktop ::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
  }
  #center_pane__contents {
    overflow-x: hidden;
  }

  body {
    zoom: 95%;
  }

  #bg_pattern {
    /*background: #709397 !important;*/
  }

}
