*::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}
*::-webkit-scrollbar-track {
  visibility: hidden !important;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1px !important;
  background-color: #F07746 !important;
}

#showtitlewrapper,
.github-mate-panel {
  box-sizing: content-box !important;
  z-index: 9999999999 !important;
  border-color: yellowgreen !important;
  background: black !important;
}

#showtitlewrapper,
#showtitlewrapper * {
  line-height: 2 !important;
  color: darkorange !important;
}

#showtitle-title,
#showtitle-title .tolong {
  font-family: 'Pragmata Pro Mono', 'Georgia', serif !important;
}

#showtitlewrapper .link {
  display: none;
  font-family: ShowTitleFontAwesome !important;
}
#showtitlewrapper:hover .link {
  display: inline-block !important;
}

@media (max-width: 700px) {

  /*
  http://productforums.google.com/d/msg/chrome/7GbJngPI6Lg/GwZNNlveBAMJ
   */

  /*html {
    zoom: 87% !important;
  }*/

}

@media (min-width: 722px) {

/*html {
    zoom: 113% !important;
  }*/

}

@media (min-width: 1600px) {

  /*html {
    zoom: 150% !important;
  }*/

}

