#user-links .name img {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 15s linear infinite;
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(360deg); }
}

.header .name span {
  color: darkorange !important;
}

div.commit-tease {
  background-size: 31.5px 34px !important;
  background-repeat: no-repeat !important;
  background-position: 100.1% -3px !important;
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/web@2x.png) !important;
}


