.yt-masthead-user-icon {
  position: relative;
  z-index: 9999 !important;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 15s linear infinite;
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(360deg); }
}

#watch-header {
  background: url(chrome-extension://__MSG_@@extension_id__/images/web@2x.png)
    100.2% -1.2px no-repeat white !important;
}

@media (max-width: 833px) {

  #body-container {
    overflow: hidden;
  }

  //
  // YouTube masthead
  //

  #yt-masthead-container {

    background: #f4f4f4 !important;

    .yt-masthead-logo-container {
      width: auto !important;
      margin-right: 32px !important;
    }

  }

  #yt-masthead-container,
  #footer-container {
    min-width: 1px !important;
  }

  //
  // YouTube /watch page player
  //

  #player,
  #player-api {
    width: 100% !important;
    min-width: 100% !important;
  }

  //
  // YouTube /watch page sidebar (recommendations)
  //

  #watch7-main #watch7-sidebar:hover {
    left: -180px !important;
    z-index: 999 !important;
    position: relative !important;
  }

  //
  // YouTube /channel page
  //

  #content {

    width: auto !important;

    .branded-page-v2-container {
      width: 825px !important;
    }

  }

}
