/* Grooveshark */

#profile-button img {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 15s linear infinite;
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(360deg); }
}

#profile-button a {
  color: darkorange !important;
}

#page-content,
.actions-bar {
  background: url(chrome-extension://__MSG_@@extension_id__/images/web@2x.png)
    no-repeat white 100.3% -3px / 42.5px 46px !important;
}

#theme-header {
  display: none !important;
}

#page {
  zoom: 114%;
  margin-top: 25px !important;
}

@media (max-width: 833px) {

  #now-playing {
    right: 0 !important;
  }

  #broadcast-menu-btn-group {
    top: -40px !important;
    right: initial !important;
  }

}


