/* Make Stack Overflow responsive... */

@media (max-width: 833px) {

  html {
      min-width: 800px !important;
  }

  .question-summary,
  #question-header,
  #answers-header,
  .question-page,
  #herobox-mini,
  #footer-sites,
  #footer-menu,
  .footerwrap,
  .container,
  #questions,
  .question,
  #answers,
  #mainbar,
  #content,
  #header,
  #hmenus,
  .answer {
    /*overflow: hidden;*/
    width: 800px !important;
    min-width: 800px !important;
    max-width: 800px !important;
  }

  .topbar {
      width: 823px !important;
  }

  .topbar .topbar-wrapper {
      width: 800px !important;
  }

  .post-text {
    width: 747px !important;
    min-width: 747px !important;
  }

  .container {
    padding-left:7px;
  }

  #header,
  #footer,
  #sidebar,
  .bottom-notice,
  #feed-link {
    display: none !important;
  }

  #content {
    padding: 0 !important;
  }

}


