//
// Dark Theme Fixes
//

.index .site-logo img,
.inbox-zero-octocat img,
.spinner,
.Octocat-spinner-64,
.page-context-loader img {
  -webkit-filter: invert(87%) !important;
}

kbd,
.markdown-body tt,
.markdown-body code,
.markdown-format code {
  color: greenyellow !important;
}

.file-wrap {
    border-color: greenyellow !important;
}

