//
// Dark Theme Fixes
//

.index .site-logo img,
.inbox-zero-octocat img,
.spinner,
.Octocat-spinner-64,
.page-context-loader img {
  -webkit-filter: invert(87%) !important;
}

kbd,
time,
time-ago,
relative-time,
.markdown-body tt,
.markdown-body code,
.markdown-format code {
  color: greenyellow !important;
}

.file-wrap {
  border-color: greenyellow !important;
}

#gist-form .file .input textarea, .ace_editor, .ace_editor.ace-github-light, .blob-code, .file-data pre, .line-data, code, kbd:not(.badmono), pre, samp, tt {
  font-family: 'Pragmata Pro Mono' !important;
}

